{% extends "bugtracker/Base.html" %}
{% block content %}
    {% for bug in bugs %}
        {% if user.is_authenticated and user.groups.all.0.name == 'Testers' %}
            {% if bug.status == 'unresolved' %}
                <article class="media content-section">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2">Username: {{ bug.author }},</a>
                      <small class="text-muted">Register date: {{ bug.register_date|date:"F d, Y" }},</small>
                      <small class="text-muted">Solved date: {{ bug.solved_date|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'bug-detail' bug.id %}">{{ bug.title }}</a></h2>
                      <p class="article-content"><h4>Description:</h4>{{ bug.description }}</p>
                      <p class="article-content"><h4>Status:</h4>{{ bug.status }}</p>
                  </div>
                </article>
            {% endif %}
        {% elif user.is_authenticated %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2">Username: {{ bug.author }},</a>
                  <small class="text-muted">Register date: {{ bug.register_date|date:"F d, Y" }},</small>
                  <small class="text-muted">Solved date: {{ bug.solved_date|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'bug-detail' bug.id %}">{{ bug.title }}</a></h2>
                  <p class="article-content"><h4>Description:</h4>{{ bug.description }}</p>
                  <p class="article-content"><h4>Status:</h4>{{ bug.status }}</p>
              </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock content %}